body {
  background-color: cornsilk;
  margin: 0;
  padding: 0;
}

h1, h2, h3, .centered-text {
  text-align: center;
}

footer {
  background-color: red;
  color: white;
  display: block;
  padding: 5px;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffd2eb;

}

img {
  border-radius: 6px;
  max-width: 100%;
}

.home-img {
  width: 60%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.uniform-img {
  width: 100%;
  height: 250px; 
  object-fit: cover;
  border-radius: 8px; 
}

.navbar {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.navbar .container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
}

footer a:hover i,
.navbar a:hover i {
  color: #ffd2eb;
}

 p.lead {
  font-size: 1.2rem;
  font-weight: 400;
  color: #444;
}