body {
  text-align: center;
  background-color: cornsilk;
}

h1 {
  color: red
}

footer {
  background-color: red;
  color: white;
  display: block;
  padding: 5px
}

a {
  color: white; 
  padding: 0 5px;

}

img {
  max-width: 800px;
  border-radius: 6px;
}

.email {
  color:red
}