body {
  background-color: cornsilk;
  margin: 0;
  padding: 0;
}

h1, h2, h3, .centered-text {
  text-align: center;
}

footer {
  background-color: red;
  color: white;
  display: block;
  padding: 5px;
}

a {
  color: white; 
}

img {
  border-radius: 6px;
  max-width: 100%;
}

.navbar {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.navbar .container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
}